body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url('assets/images/beach-sunset-hd-wallpaper.jpeg');
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUpButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  /* border:10px solid lime;
  border-radius:10px; */
  position:absolute;
}
/* .shark {

} */

/*
.air {

} */

.air, .dancer, .water {
  height:200px;
  width: auto;
}

/* Pre-Planning Notes
 Get rid of blinkyDancer?
 Each class has a "special ability" === functionality

 Styling Strategy Ideas:
 - Declare additional class name to subclasses

 Steps:
 - [x] Get GIFs for dancers
 - [] Decide some functionality thats tied to Visuals ( CSS-dependent )
 - [] Use CSS to implement
 */